*,
*::after,
*::before {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {
    --background-color:rgba(128, 0, 0, 0.87);
    --name-color: rgb(255, 204, 102, 0.8);
}

html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-color);
}

body {
   margin:0 auto;
   padding:10px;
   max-width:1400px;
   height: 100%;
   display: flex;
   flex-direction: column;
   color: var(--name-color);
   overflow: hidden;
}

.nav-container {
    display:flex;
    justify-content: space-between;
    align-content: center;
    
    height:75px;
    flex-flow:row wrap;
    margin:10px 5px;
    padding:10px;
    
    
}

.navigation-items {
    
    display:flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    width:35vw;
    gap:20px;
}

ul > li {
list-style-type: none;
}

li > a {
    color:var(--name-color);
    text-decoration: none;
}


span {
    color:white;
}

section {
    padding: 1rem;
    display: block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

label, li, h3, button {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.calculator {

}

.about-me-container {
    display: flex;
    height: 50vh;
}

.about-me-text-container {
    flex: 1;
    margin-right: 20px;
    text-align: left;
    

}

.mac-logo {
    flex:1;
    height:70vh;
    width:100%;
    
}

img {
    height:auto;
    width: 100%;
    overflow: hidden;
}

.about-me-text-container > h2 {
    margin-bottom: 20px;
    
    
}

footer {
    text-align: center;
}

#skills-container {
    margin-top: 10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
}

.socials > a {
    color: var(--name-color);
}

button {
    background-color:  var(--name-color);
    color:var(--background-color);
}
